<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">FORMULAIRES</li>
		<li>
			<a href="{{ path('admin_articles_new') }}">Gestion des articles du blog</a>
		</li>
		<li>
			<a href="{{ path('admin_produits') }}">Gestion des produits</a>
		</li>
		<li>
			<a href="{{ path('admin_categories_new') }}">Gestion des catégories</a>
		</li>
		<li>
			<a href="{{ path('admin_tva_new') }}">Gestion de la TVA</a>
		</li>
		<li>
			<a href="{{ path('produits_calendrier') }}">Gestion du calendrier</a>
		</li>
	</ul>
</div>